root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size  = 2

[*.{sh,bash}]
indent_style = space
indent_size  = 2
Terms