mise.lock linguist-generated
stencil.lock linguist-generated

### Start attributes inserted by other modules
go.sum linguist-generated
*.pb.go linguist-generated
### End attributes inserted by other modules

## <<Stencil::Block(gitattributesAdditional)>>

## <</Stencil::Block>>
