# Ignore all markdown formatting by default. If you want prettier to format
# your markdown files, manually include them by adding prefixed ! entries.
*.md

## <<Stencil::Block(prettierignoreExtras)>>

## <</Stencil::Block>>
