name: localizer
reportingTeam: fnd-dtss
description: A no-frills local development approach for Kubernetes powered Developer Environments.
oss: true
slack: ""
library: true
commands:
  - localizer
circleAPIKey: ""
lintroller: bronze
tracing: honeycomb
metrics: datadog
releaseType: ""
deployTo:
  environments: []
arguments:
  circleAPIKey: ""
  commands:
    - localizer
  commitGuard: false
  dependencies:
    optional: []
    required: []
  description: A no-frills local development approach for Kubernetes powered Developer Environments.
  grpcClients: []
  kubernetes:
    groups: []
  lintroller: bronze
  metrics: datadog
  opslevel:
    confluenceSpaceKey: DTSS
    datadogDashboards:
      mainLink: ""
    designDocumentLink: ""
  oss: true
  releaseOptions:
    allowMajorVersions: null
    enablePrereleases: false
  reportingTeam: fnd-dtss
  resources: {}
  service: false
  tracing: honeycomb
  tutorial: false
  vaultSecrets:
    - deploy/honeycomb_new/%(environment)s/honeycomb
    - deploy/launchdarkly/%(environment)s/launchdarkly
    - deploy/mint/%(environment)s/validation/mint-validator-payload
    - deploy/flagship-shared-secret/%(environment)s/authn-flagship-payload
modules:
  - name: github.com/getoutreach/stencil-golang
  - name: github.com/getoutreach/stencil-opslevel
  - name: github.com/getoutreach/stencil-outreach
  - name: github.com/getoutreach/stencil-circleci
  - name: github.com/getoutreach/stencil-actions
  - name: github.com/getoutreach/stencil-base
opsLevel:
  serviceTier: 0
  lifecycle: ""
  confluenceSpaceKey: DTSS
  pagerDutyLink: ""
  datadogDashboards:
    mainLink: ""
    custom: []
  designDocumentLink: ""
