# Please re-run stencil after any changes to this file as invalid
# syntax, such as anchors, will be fixed automatically.
version: 2.1
orbs:
  shared: getoutreach/shared@2.0.1

# Extra contexts to expose to all jobs below
contexts: &contexts
  - aws-credentials
  - ghaccesstoken
  - docker-registry
  - npm-credentials
  - prismacloud-credentials
  - opslevel-credentials
  - vault-dev
  - confluence
  ###Block(extraContexts)

  ###EndBlock(extraContexts)

jobs:
  {}
  ###Block(circleJobs)

  ###EndBlock(circleJobs)

  ### Start jobs inserted by other modules
  ### End jobs inserted by other modules

workflows:
  version: 2
  ###Block(circleWorkflows)

  ###EndBlock(circleWorkflows)

  ### Start workflows inserted by other modules
  ### End workflows inserted by other modules

  release:
    jobs:
      ###Block(circleWorkflowJobs)

      ###EndBlock(circleWorkflowJobs)
      - shared/release: &release
          dryrun: false
          context: *contexts
          ###Block(circleReleaseExtra)

          ###EndBlock(circleReleaseExtra)
          requires:
            ###Block(circleReleaseRequires)

            ###EndBlock(circleReleaseRequires)
            - shared/test
          filters:
            branches:
              only:
                - master
                - main
      # Dryrun release for PRs
      - shared/release:
          <<: *release
          dryrun: true
          filters:
            branches:
              ignore:
                - master
                - main
      - shared/test:
          context: *contexts
          app_name: localizer

      - shared/publish_docs:
          context: *contexts
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
      - shared/finalize-coverage:
          context: *contexts
          requires:
            - shared/test
